.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-brand {
  padding: 0px;
  line-height: 50px;
}
.navbar-brand img {
  height: 35px;
  display: inline-block;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .navbar-brand {
      padding-left: 15px;
    }
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.content-wrapper {
  margin-top: 50px;
}
.use-my-custom-font {
  font-family: 'Dancing Script', cursive;
}
.use-my-custom-h1-font-size {
  font-size: 70px;
  padding-top: 200px;
  color: #c59d5f;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .use-my-custom-h1-font-size {
    padding: 30px 0;
    }
}
.custom-nav-link-list {
  margin-right: 0px;

}
.navbar-default .navbar-nav > li > a {
    color: #000;
    font-family: 'Raleway', sans-serif;
}
