nav {
  background-color: #fff;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand img {
  max-height: 100%;
}
.content-wrapper {
  margin-top: 50px;
}
.use-my-custom-font {
  font-family: 'Dancing Script', cursive;
}
.use-my-custom-h1-font-size {
  font-size: 70px;
  padding-top: 200px;
  color: #c59d5f;
}
.custom-nav-link-list {
  margin-right: 0px;

}
.menu-link {
  color: #000;
  font-family: 'Raleway', sans-serif; 
}
